@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Josefin+Sans:wght@300;400&family=Mrs+Saint+Delafield&family=Ubuntu:wght@500&display=swap');

body{ /* Requirement-2.A */
    background-color:#8cb8b3; /* Requirement-2.4 */
    font-family: 'Josefin Sans', sans-serif;
    overflow:auto; /* Requirement-2.14 */
    margin:0;
    padding:0;
} 
h1, #goalsLabel, #factsLabel{ 
    font-family: 'Gloock', serif; /* Requirement-2.1 */
    text-align: center;
}
.name{ /* Requirement-2.C */
    text-align:center; /* Requirement-2.2 */
    font-family:'Mrs Saint Delafield', cursive;
}
nav{
    display:block; /* Requirement-2.12 */
    z-index: 2; /* Requirement-2.17 */
    background-color: #123b27;
    padding: 20px; /* Requirement-2.6 */
    width: 97%; 
    margin-top:10px;
 
}
a.navBar{
    color: white; /* Requirement-2.3 */
    text-decoration: none;
    padding-right:10px; /* Requirement-2.9 */
    border-right: 1px solid white;
    padding:10px;
    
}
a.navBar:hover{
    background-color:#8cb8b3;
}
a, a.navBar:last-child{ /* Requirement-2.E */
    text-decoration:none;
    border-right:none;

}

img{
    width:400px;
    height:auto;
    border: 5px solid black; /* Requirement-2.5 */
}
figure{
    width: 500px;
}
figcaption{
    left:0px;
    width:400px;
    text-align:center;
}
#projects{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    left:0px;
    padding:0;
    margin:0;
}
.pic{
    padding: 1%;
}
figure{
    width: 350px;
    align-items:center;
    margin-bottom:20px;
}
footer{
    padding-top: 2%; /* Requirement-2.10 */
}
p{
    text-align:left;
    margin-left: 1%;
}
.me {
    width: 22.5%; /* Requirement-2.7 */
    height: 45%;
    margin-left: 2.5%;
    border: 5px solid black;
}
.intro{
    position: absolute; /* Requirement-2.15 */
    width: 30%;
    margin-left: 27.5%;
    margin-top: -32.5%;
}
.picOfMe{
    padding: 10%;
}
.picWrapper{
    padding-bottom: 2%;
}
ul {
    list-style-type: square; /* Requirement-2.8 */
    /* If i have time, ask how to add keyboard shortcuts as icons" */
}
.goals{
    
    float:right; /* Requirement- 2.11 */
    background-color:#123b27;
    color: white;
    width: 25%;
    margin-right: 12%;
    margin-top: -33%;
    border: 2px dashed white;
}
summary{ /* Requirement-2.H */
    font-style:italic;

} 
details{ /* Requirement-2.G */
    text-decoration: underline;
}
p strong{ /* Requirement- 2.F */
    font-style:italic;
}
.lemonade{
    position: absolute;
    width: 22.5%;
    margin-top: -4%;
    margin-left: 3%;
    z-index: 2;
    visibility:hidden; /* Requirement-2.16 */
}
div{  /* Requirement-2.B */
    display:block;
}

.facts {
    background-color:#123b27;
    color: white;
    width: 25%;
    margin-right: 12%;
    border: 2px dashed white;
    float:right;
    margin-top: -10%;
}
#stars{ /* Requirement-2.D */
    clear:right; /* Requirement-2.13 */
}
table{
    border: 3px solid black;
    
}
td, th{
    border: 3px solid black;
    padding: 15px;
}
tr, th{
    border: 3px solid black;
}